<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop Viva, Live Viva!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- this is where we refer the css file from src/main/resources/static/main.css -->
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
</head>

<body>
<div id="navbar-placeholder" class="h-24"></div>
<div class="w-3/5 flex items-stretch mx-auto">
    <div class="w-1/2 flex flex-col items-stretch text-green-400">
        <div class="flex items-stretch gap-2.5 text-base font-medium whitespace-nowrap tracking-tighter self-start mt-5">
            <div class="text-green-400 leading-[160%] grow">Cart</div>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/dde1e75bbf9b76b13a57a814cdf6f5dac088919ad788458cdac459a7e57efe6d?apiKey=04b96a35d62641b58ada2792ce49196a&" class="aspect-square object-contain object-center w-2.5 shrink-0 my-auto" />
            <div class="text-green-400 leading-[160%]">Details</div>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1c35a9d88a3f5a6451d48cb8a83df574cb00a19b8b424df1a5c2308f06157a52?apiKey=04b96a35d62641b58ada2792ce49196a&" class="aspect-square object-contain object-center w-2.5 shrink-0 my-auto" />
            <div class="text-green-400 leading-[160%]">Shipping</div>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1c35a9d88a3f5a6451d48cb8a83df574cb00a19b8b424df1a5c2308f06157a52?apiKey=04b96a35d62641b58ada2792ce49196a&" class="aspect-square object-contain object-center w-2.5 shrink-0 my-auto" />
            <div class="text-neutral-800 leading-[160%] grow">Payment</div>
        </div>
        <div class="flex flex-col w-4/5" th:if="${order.orderStatus} == 1">
            <div class="border flex flex-col items-stretch text-sm tracking-tight mt-14 px-5 py-6 rounded-lg border-solid border-green-400 border-opacity-20 max-w-full">
                <div class="flex items-stretch justify-between gap-3.5 flex-wrap">
                    <h2 class="text-zinc-500 leading-[111%] whitespace-nowrap">Contact</h2>
                    <div class="text-neutral-800 leading-[111%] grow shrink basis-auto"> joe.spagnuolo@uxbly.com </div>
                    <a href="#" class="text-green-400 text-center leading-[111%]">Edit</a>
                </div>
                <div class="bg-green-400 bg-opacity-20 shrink-0 h-px mt-5"></div>
                <div class="flex items-stretch justify-between gap-3.5 mt-6">
                    <h2 class="text-zinc-500 leading-[111%] whitespace-nowrap">Ship to</h2>
                    <div class="text-neutral-800 leading-[111%] grow shrink basis-auto"> Via Firenze 23, 92023, Campobello di Licata AG, Italia </div>
                    <a href="#" class="text-green-400 text-center leading-[111%]">Edit</a>
                </div>
                <div class="bg-green-400 bg-opacity-20 shrink-0 h-px mt-5"></div>
                <div class="flex w-full items-stretch justify-between gap-5 mt-6">
                    <div class="flex items-stretch justify-between gap-3">
                        <h3 class="text-zinc-500 leading-[111%]">Method</h3>
                        <div class="text-neutral-800 leading-4 grow shrink basis-auto">
                            <span class="">Standard Shipping -</span>
                            <span class="font-light">FREE</span>
                        </div>
                    </div>
                    <a href="#" class="text-green-400 text-center leading-[111%]">Edit</a>
                </div>
            </div>
            <div class="flex text-neutral-800 text-xl items-start leading-6 mt-11">
                <span>Payment method</span>
            </div>
            <div class="border border-neutral-200 flex flex-col items-center mt-6 pb-8 rounded-lg border-solid max-md:max-w-full">
                <div class="self-stretch flex items-stretch justify-between gap-5 px-5 py-3.5 rounded-none max-md:max-w-full max-md:flex-wrap max-md:px-5">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/184e7f30c6c73146c2d9ae202bf96ed8184fb47db41864774d8e1f03f571020b?apiKey=04b96a35d62641b58ada2792ce49196a&" class="aspect-square object-contain object-center w-[31px] shrink-0" />
                    <div class="text-green-400 text-base font-bold leading-4 tracking-tighter grow shrink basis-auto my-auto">
                        Credit Card
                    </div>
                </div>
                <div class="bg-white flex w-11/12 items-stretch justify-between gap-5 mt-6 px-4 py-3 border-[0.5px] border-solid border-zinc-500">
                    <div class="text-zinc-600 text-sm leading-6 my-auto">Card Number</div>
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/861643d6f017b629ce633fec2cb5e792046a4f94ce3ac6a7561f76eb9a397964?apiKey=04b96a35d62641b58ada2792ce49196a&" class="aspect-square object-contain object-center w-[18px] shrink-0" />
                </div>
                <div class="text-zinc-600 text-sm leading-6 bg-white w-11/12 justify-center mt-3 pl-4 pr-16 py-4 border-[0.5px] border-solid border-zinc-500 items-start max-md:pr-5">
                    Holder Name
                </div>
                <div class="flex w-11/12 items-stretch gap-3.5 mt-3">
                    <div class="text-zinc-600 text-sm leading-6 whitespace-nowrap bg-white grow justify-center items-stretch pl-4 pr-16 py-3.5 border-[0.5px] border-solid border-zinc-500 max-md:pr-5">
                        Expiration (MM/YY)
                    </div>
                    <div class="bg-white flex flex-row items-stretch justify-between gap-5 px-4 py-3 border-[0.5px] border-solid border-zinc-500">
                        <div class="text-zinc-600 text-sm leading-6 my-auto">CVV</div>
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c798a2fc1c90d2eb6a0e379a87b3851e9960b77a0393612434b0f9e01f8a58d6?apiKey=04b96a35d62641b58ada2792ce49196a&" class="aspect-square object-contain object-center w-[18px] shrink-0" />
                    </div>
                </div>
            </div>
            <div class="flex items-center content-center justify-between gap-5 my-11">
                <a href="#" class="items-center text-green-400 text-lg leading-6 tracking-tighter underline grow shrink basis-auto justify-self-start">Back to shipping</a>
                <a th:href="@{'/test/commodity/payOrder/' + ${order.orderNo}}" class="text-white items-center text-xl font-medium rounded bg-green-400 flex justify-between gap-4 px-11 py-2 max-w-96 mx-auto hover:bg-green-800">Pay Now</a>
            </div>
        </div>
        <div class="flex flex-col place-items-center mb-5" th:if="${order.orderStatus} == 2">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/7e281fac6505c47e3be3becf518cf18143249b7f96eb6f46f925bb9c0ca4079d?apiKey=04b96a35d62641b58ada2792ce49196a&" class="aspect-square object-contain object-center w-[100px] max-w-full mt-14 max-md:mt-10" />
            <h1 class="justify-center text-neutral-800 text-center text-2xl font-medium leading-[57.72px] tracking-tighter mt-6">Order Already Paid</h1>
            <div class="justify-center text-center text-sm leading-4 mt-3.5">ORDER # <a th:text="${order.orderNo}"></a></div>
            <div class="text-zinc-500 text-sm text-center font-light leading-4 mt-7 max-md:max-w-full">
                Your order is already paid. <br/>
            </div>
            <a th:href="@{'/test/commodity/orderQuery/' + ${order.orderNo}}" class="text-white items-center text-xl font-medium rounded bg-green-400 flex justify-between gap-4 mt-11 px-11 py-2 max-w-96 mx-auto hover:bg-green-800">Order Details</a>
            <div class="text-center text-lg leading-6 tracking-tighter underline mt-9">Help Center</div>
        </div>
        <div class="flex flex-col place-items-center mb-5" th:if="${order.orderStatus} == 99">
            <svg class="aspect-square object-contain object-center w-[100px] max-w-full mt-14 max-md:mt-10" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#d97d67" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            <h1 class="justify-center text-neutral-800 text-center text-2xl font-medium leading-[57.72px] tracking-tighter mt-6">Order Cancelled</h1>
            <div class="justify-center text-center text-sm leading-4 mt-3.5">ORDER # <a th:text="${order.orderNo}"></a></div>
            <div class="text-zinc-500 text-sm text-center font-light leading-4 mt-7 max-md:max-w-full">
                <a>Your order is cancelled due to payment overtime. <br/>
                    Please order again.</a>
            </div>
            <a th:href="@{/test}" class="text-white items-center text-xl font-medium rounded bg-green-400 flex justify-between gap-4 mt-11 px-11 py-2 max-w-96 mx-auto hover:bg-green-800">Back to shopping</a>
            <div class="text-center text-lg leading-6 tracking-tighter underline mt-9">Help Center</div>
        </div>
    </div>
    <div class="w-1/2">
        <div class="bg-zinc-100 flex grow flex-col w-full h-full px-16 py-12 items-start">
            <div class="w-[411px] max-w-full mt-1.5">
                <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
                    <div class="flex flex-col items-stretch w-[48%] max-md:w-full max-md:ml-0">
                        <img loading="lazy" srcset="/img/_/iphone15.jpeg" class="aspect-[1.2] object-contain object-center w-[163px] shrink-0 max-w-full grow max-md:mt-10" />
                    </div>
                    <div class="flex flex-col items-stretch w-[52%] ml-5 max-md:w-full max-md:ml-0">
                        <div class="flex flex-col items-stretch tracking-tighter mt-5 max-md:mt-10">
                            <div class="justify-center text-neutral-800 text-base font-medium leading-[57.6px]">
                                <a th:text="${commodity.commodityName}"></a><br/>
                                <a> x 1</a>
                            </div>
                            <div class="justify-center text-green-400 text-xl font-semibold leading-[57.54px] mt-6">
                                $ <a th:text="${commodity.price}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-green-400 bg-opacity-20 w-[411px] shrink-0 max-w-full h-px mt-36 max-md:mt-10"></div>
            <div class="flex w-[411px] max-w-full items-stretch justify-between gap-5 text-sm font-medium mt-5">
                <div class="flex flex-col items-stretch text-zinc-600 whitespace-nowrap tracking-tighter self-start">
                    <div class="justify-end leading-[183%]">Subtotal</div>
                    <div class="justify-end leading-[183%] mt-7">Shipping</div>
                </div>
                <div class="flex flex-col items-stretch text-neutral-800 text-right">
                    <div class="justify-end leading-[183%] tracking-tighter self-end">$ <a th:text="${order.orderAmount}"></a></div>
                    <div class="justify-end leading-[183%] mt-7">Free Shipping</div>
                </div>
            </div>
            <div class="bg-green-400 bg-opacity-20 w-[411px] shrink-0 max-w-full h-px mt-9"></div>
            <div class="flex w-[411px] max-w-full items-stretch justify-between items-center gap-5 font-medium tracking-tighter mt-4">
                <div class="justify-end text-sm leading-6 self-start">Total</div>
                <div class="justify-end text-right text-2xl leading-6">$ <a th:text="${order.orderAmount}"></a></div>
            </div>
        </div>
    </div>
</div>

<div class="bg-neutral-800 flex flex-col justify-center items-center px-16 py-12 max-md:max-w-full max-md:px-5">
    <div class="flex w-full max-w-[1110px] flex-col items-stretch mt-2.5 mb-12 max-md:max-w-full max-md:mb-10">
        <div class="bg-white shrink-0 h-px max-md:max-w-full"></div>
        <div class="flex w-full justify-between gap-5 pr-11 items-start max-md:max-w-full max-md:flex-wrap max-md:pr-5">
            <div class="flex flex-col items-stretch gap-y-8 mt-14">
                <img loading="lazy" src="/img/_/vivavend-white.png" class="aspect-[2.5] object-contain object-center w-2/3 justify-center items-center overflow-hidden z-[1]" />
                <div class="text-white text-xl leading-6 tracking-tight -mt-1.5">Shop Viva, Live Viva!</div>
            </div>
            <div class="mt-14 self-end max-md:max-w-full max-md:mt-10">
                <form>
                    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
                        <div class="flex flex-col items-stretch w-[30%] max-md:w-full max-md:ml-0">
                            <div class="flex grow flex-col items-stretch max-md:mt-10">
                                <div class="text-green-400 text-base font-medium leading-7">Discovery</div>
                                <div class="text-neutral-200 text-base font-medium leading-7 mt-8">New season</div>
                                <div class="text-neutral-200 text-base font-medium leading-7 whitespace-nowrap mt-8">Most searched</div>
                                <div class="text-neutral-200 text-base font-medium leading-7 mt-8">Most selled</div>
                            </div>
                        </div>
                        <div class="flex flex-col items-stretch w-[30%] ml-5 max-md:w-full max-md:ml-0">
                            <div class="flex grow flex-col items-stretch max-md:mt-10">
                                <div class="text-green-400 text-base font-medium leading-7">About</div>
                                <div class="text-neutral-200 text-base font-medium leading-7 mt-8">Help</div>
                                <div class="text-neutral-200 text-base font-medium leading-7 mt-8">Shipping</div>
                                <div class="text-neutral-200 text-base font-medium leading-7 mt-8">Affiliate</div>
                            </div>
                        </div>
                        <div class="flex flex-col items-stretch w-2/5 ml-5 max-md:w-full max-md:ml-0">
                            <div class="flex grow flex-col items-stretch max-md:mt-10">
                                <div class="text-green-400 text-base font-medium leading-7 whitespace-nowrap">Info</div>
                                <div class="text-neutral-200 text-base font-medium leading-7 whitespace-nowrap mt-8">Contact us</div>
                                <div class="text-neutral-200 text-base font-medium leading-7 whitespace-nowrap mt-8">Privacy Policies</div>
                                <div class="text-neutral-200 text-base font-medium leading-7 whitespace-nowrap mt-8">Terms & Conditions</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:inline="javascript">
    var user = [[${user}]];
    $(document).ready(function(){
        if(user != null) {
            var userId = user.userId;
            $('#navbar-placeholder').load('/loggedInHeader/' + userId);
        } else {
            $('#navbar-placeholder').load('/header');
        }
    });
</script>
</body>
</html>